.admin-books-list-wrapper {
    width: 50%;
}

.admin-books-form-wrapper {
    width: 50%;
}

.admin-books-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
}

.admin-books-list > li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

.admin-books-form-wrapper > form {
    margin-top: 20px;
    width: 100%;
}

.admin-books-form-wrapper > form > button {
    margin-top: 20px;
    width: 25%;
}

.admin-books-form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Пример максимальной ширины формы */
    margin: auto; /* Центрирование формы */
  }
  
  .text-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  

/* TEMP CSS FOR FORM FIELDS */
.text-input {
    width: 50%;
}