.admin-books-list-wrapper {
    width: 50%;
    /* border: 1px solid black; */
}

.pointer {
  cursor: pointer;
}

.admin-books-form-wrapper {
    width: 50%;
    border: 1px solid black;
}

.admin-books-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
}

.admin-books-list > li {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    margin-bottom: 5px;
    background: #dcdcdc;
}

.admin-books-form-wrapper > form {
    margin-top: 20px;
    width: 100%;
}

.admin-books-form-wrapper > form > button {
    margin-top: 20px;
    width: 25%;
}

.admin-books-form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Пример максимальной ширины формы */
    margin: auto; /* Центрирование формы */
}

.admin-books-form > button {
    width: 25%;
}
  
  .text-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }

.create-buttom {
    border: none;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    border-radius: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.create-buttom:active {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.save-button {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    padding: 10px;
    cursor: pointer;
}

.save-button:active {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.pages-book {
    margin-left: 40px;
}

.price-book {
    margin-left: 46.5px;
}

.year-book {
    margin-left: 51px;
}

.fieldName {
    font-weight: bold;
}

.ml-84px {
    margin-left: 84px;
}

.white {
    color: white;
}

.admin-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
}

.admin-list > li {
    width: 100%;
    /* border-radius: 5px; */
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    height: 50px;
}

.admin-list > li:hover  {
    width: 102%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 50px;
    color: #4d5fe2;
}

.admin-list > li > div {
    padding: 14px;
    height: 50px;
}

.admin-list-wrapper {
    width: 30%;
    /* border: 1px solid black; */
    background-color: #4d5fe2;
    
}

.admin-form-wrapper {
    width: 70%;
    /* border: 1px solid black; */
}

.admin-name {
    margin-top: 5%;
    box-shadow: 0px 0px 5px;
}

.admin-bio {
    margin-left: 18.1%;
    box-shadow: 0px 0px 5px;
}

/* TEMP CSS FOR FORM FIELDS */
.text-input {
    width: 50%;
}