.admin-books-list-wrapper {
    width: 50%;
    /* border: 1px solid black; */
}

.pointer {
  cursor: pointer;
}

.admin-books-form-wrapper {
    width: 50%;
    border: 1px solid black;
}

.admin-books-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
}

.admin-books-list > li {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    margin-bottom: 5px;
    background: #dcdcdc;
}

.admin-books-form-wrapper > form {
    margin-top: 20px;
    width: 100%;
}

.admin-books-form-wrapper > form > button {
    margin-top: 20px;
    width: 25%;
}

.admin-books-form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Пример максимальной ширины формы */
    margin: auto; /* Центрирование формы */
  }
  
  .text-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
.bold {
  font-weight: bold;
}

.create-battom {
    background: #4d5fe2;
    color: white;
    border: 1px solid #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 5%;
    cursor: pointer;
}

.save-botton {
    background: #4d5fe2;
    color: white;
    padding: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0;
    cursor: pointer;
}

.ml-40px {
    margin-left: 40px;
}

.ml-46-5px {
    margin-left: 46.5px;
}

.ml-51px {
    margin-left: 51px;
}

.ml-84px {
    margin-left: 84px;
}

.white {
    color: white;
}

/* TEMP CSS FOR FORM FIELDS */
.text-input {
    width: 50%;
}