.book-section {
    margin-bottom: 30px;
}

.book-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.author-card {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.authors-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.author-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.author-bio {
    font-size: 14px;
    color: #555;
    width: 100%;
    height: 90px;
}

.author-preview-wrapper {
    width: 25%;
}

.author-card > div {
    width: 25%;
}

.author-card > div {
    color: black;
}


.sample-form {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
}


.media-input-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.media-input-container ul {
    color: #000;
}

.home-footer{
    background: black;
    color: white;
    width: 100%;
    display: flex;
}

.home-footer > div{
    width: 33%;
}

.home-footer > div > ul > li > a{
    color: white;
}

.home-footer > div > ul > li{
    padding: 10px;
    padding-left: 20px;
}

.home-footer > div > ul > li > a:hover{
    color: #007BFF;
    transition: 0.4s ease;
}

