.select-container {
    width: 25%;
    position: relative;
}

.selected-item {
    display: flex;
    width: 98%;
    margin: 1px;
    text-align: center;
    border-color: #4308af;
    border-width: 2px;
    border-style: solid;
}

.selected-item > .selected-name {
    width: 80%;
}

.selected-item > .selected-symbol {
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.select-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #4308af;
    color: black;
    /* border-width: 1px; */
    /* border-color: black; */
    /* border-style: solid; */
}

.select-item {
    margin: 1px;
    text-align: center;
    border-color: #3d9635;
    border-width: 1px;
    border-style: solid;
}

.author-select {
    text-align: center;
    border-width: 1px;
    border-bottom: solid 1px grey;
    width: 98%;
    padding: 4px;
    border-radius: 0px;
}

.author-select:hover {
    background-color: #eaeaea;
    transition: 0.2s ease-in-out;
}

.authors-select {
    box-shadow: 0px 0px 5px #8f8f8f;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

.select-author-default {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #a3a3a3;
    padding: 5px;
    width: 97.3%;
}
.select-author-default > div {
    width: 48.6%;
}

.arrow {
    transition: transform 0.3s ease; 
    float: right;
    display: flex;
}

.arrow.open {
    transform: rotate(180deg); 
}
