body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

/* HEADER */
.main-navigation {
  width: 80%;
  background-color: burlywood;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-navigation li {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

/* FOOTER */


/***********HOT SHORT STYLES LIKE A TILEWIND**********/

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-white {
  color: white;
}

.text-blue {
  color:#4a4fdd;
}

.text-red {
  color: #e60505;
}

.text-turquoise {
  color: #41B3A3;
}

.text-light-pink {  
  color: #ca889d;
}

.text-black {
  color: black;
}

.text-orange {
  color: #ee6d49;
}

.with-60p {
  width: 60%;
}

.w-80p {
  width: 80%;
}

.w-23p {
  width: 23%;
}

.w-50p {
  width: 50%;
}

.w-41p {
  width: 41%;
}

.pl-5p {
  padding-left: 5%;
}

.brd-t-black-1px {
  border-top: 2px solid rgb(213, 213, 213);
}

.brd-b-black-2px {
  border-bottom: 2px solid rgb(213, 213, 213);
}

.pt-4p {
  padding-top: 4%;
}

.pl-2p {
  padding-left: 2%;
}

/* TODO REMOVE */
.self-slider {
  display: flex;
  flex-direction: column;
}

.items-test {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
}
