body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

/* global skins */
.skin-black {
    background-color: #3b2f2f;
}

.skin-default {
    background-color: #fff;
}

/* HEADER */
.main-navigation {
    width: 100%;
    background-color: #dddfed;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-navigation li a {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #8d7e0f;
}

.second-navigation, .context-controls {
    background-color: #4d5fe2;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.second-navigation {
    width: 80%;
}

.context-controls {
    width: 20%;
}

.admin-navigation {
    display: flex;
    border-bottom: 1px solid white;
}

.second-navigation li {
    background-color: #4d5fe2;
    padding: 1px 10px;
    border: 1px solid white;
}

.second-navigation li:hover {
    background-color: #606bc2;
}

.second-navigation li a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #edebde;
}

.second-navigation li a:hover {
    color: #e3e3a3;
}

/* FOOTER */


/***********HOT SHORT STYLES LIKE A TILEWIND**********/

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-full {
    width: 100%;
}

.w-50p {
    width: 50%;    
}

.w-33p {
    width: 33%;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}


/*****************************TEXT STYLES SETTINGS***********************/
.uppercase {
    text-transform: uppercase;
}
/* FONT SIZES */
.text-xs {
    font-size: 8px;
}

.text-sm {
    font-size: 10px;
}

.text-base {
    font-size: 14px;
}

.text-md {
    font-size: 18px;
}

.text-lg {
    font-size: 22px;
}

.text-xl {
    font-size: 28px;
}

.text-2xl {
    font-size: 34px;
}

/* FONT FONT WEIGHT */
.font-base {
    font-weight: 300;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 800;
}

/* COLORS */
.text-white {
    color: white;
}

.text-blue {
    color:#4a4fdd;
}

.text-red {
    color: #e60505;
}

.text-turquoise {
    color: #41B3A3;
}

.text-light-pink {    
    color: #ca889d;
}

.text-black {
    color: black;
}

.text-orange {
    color: #ee6d49;
}




/* BUTTONS */
.btn {
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-blue {
    background-color: #4e5cc9;
    color: white;
}

.btn-blue:hover {
    background-color: #6c78d0;
}

.btn-green {
    background-color: #137f4d;
    color: white;
}

.btn-green:hover {
    background-color: #248b5b;
}

.btn-steel {
    background-color: #2c2d34;
    color: white;
}

.btn-steel:hover {
    background-color: #4b4c54;
}

.btn-red {
    background-color: #9a2525;
    color: white;
}

.btn-red:hover {
    background-color: #a33838;
}


/* SHADOWS */
.shadow-md {
    box-shadow: 1px 1px 0px rgb(202, 196, 196);
}


.inpt {
    padding: 8px;
    margin: 5px;
    box-sizing: border-box;
}

.inpt-font-arial {
    font-family: Arial, sans-serif;
}

.inpt-font-times {
    font-family: 'Times New Roman', Times, serif;
}

.inpt-font-weight-normal {
    font-weight: normal;
}

.inpt-font-weight-bold {
    font-weight: bold;
}

.inpt-border-solid {
    border-style: solid;
}

.inpt-border-dashed {
    border-style: dashed;
}

.inpt-border-width-1 {
    border-width: 1px;
}

.inpt-border-width-2 {
    border-width: 2px;
}


/* MARGINS */
.ml-5 {
    margin-left: 5px;
}

.mt-1p {
    margin-top: 1%;
}

.mt-5 {
    margin-top: 5px;
}

/* Captcha */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
  }
  
.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.square.selected {
    border: 2px solid red;  
}

.square img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.error {
    color: red;
}

.select-item-1 {
    border: 1px solid silver;
    border-radius: 5%;
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}