body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

/* global skins */
.skin-black {
    background-color: #3b2f2f;
}

.skin-default {
    background-color: #fff;
}

/* HEADER */
.main-navigation {
    width: 100%;
    background-color: #dddfed;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-navigation li a {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #8d7e0f;
}

.second-navigation, .context-controls {
    background-color: #4d5fe2;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.second-navigation {
    width: 80%;
}

.context-controls {
    width: 20%;
}

.second-navigation li {
    background-color: #4d5fe2;
    padding: 1px 10px;
    border: 1px solid white;
}

.second-navigation li:hover {
    background-color: #606bc2;
}

.second-navigation li a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #edebde;
}

.second-navigation li a:hover {
    color: #e3e3a3;
}

/* FOOTER */


/***********HOT SHORT STYLES LIKE A TILEWIND**********/

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-white {
    color: white;
}

.text-blue {
    color:#4a4fdd;
}

.text-red {
    color: #e60505;
}

.text-turquoise {
    color: #41B3A3;
}

.text-light-pink {    
    color: #ca889d;
}

.text-black {
    color: black;
}

.text-orange {
    color: #ee6d49;
}


/* BUTTONS */
.btn {
    padding: 5px 10px;
    border-width: 2px;
    border-radius: 5px;
    font-size: 18px;
}

.btn-blue {
    background-color: #4d5fe2;
    border-color: #4d5fe2;
    color: white;
}

.btn-green {
    background-color: #065f35;
    border-color: #065f35;
    color: white;
}

.btn-steel {
    background-color: #353641;
    border-color: #353641;
    color: white;
}

.btn-red {
    background-color: #951b1b;
    border-color: #951b1b;
    color: white;
}
